@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Wrapper */
.wrapper {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}


/* Gallery */
.image-gallery {
    max-width: 85%;
    margin: auto;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
    'img_1 img_1 img_2 img_2'
    'img_1 img_1 img_4 img_3'
    'img_7 img_6 img_6 img_3'
    'img_7 img_6 img_6 img_5'
    'img_8 img_8 img_8 img_8';
}

.image-gallery a {
    width: 100%;
    height: 12.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a ion-icon {
    color: rgba(255, 255, 255, .6);
    font-size: 1.5rem;
    position: relative;
    padding: 1rem 2rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover ion-icon,
.image-gallery a:hover::before {
    opacity: 1;
}


/* Large size */
.img_1 {
    grid-area: img_1;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_1.jpg");
}

.img_2 {
    grid-area: img_2;
    background-image: url(".././img/gallery_pic_2.jpg");
}

.img_3 {
    grid-area: img_3;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_3.jpg");
}

.img_4 {
    grid-area: img_4;
    background-image: url(".././img/gallery_pic_4.jpeg");
}

.img_5 {
    grid-area: img_5;
    background-image: url(".././img/gallery_pic_5.jpg");
}

.img_6 {
    grid-area: img_6;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_6.jpg");
}

.img_7 {
    grid-area: img_7;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_7.jpg");
}

.img_8 {
    grid-area: img_8;
    min-height: 26.5rem;
    background-image: url(".././img/gallery_pic_8.jpg");
}


/* Medium size */
@media screen and (max-width: 768px) {
    .image-gallery {
        grid-template-areas: 
        'img_1 img_1 img_2 img_2'
        'img_1 img_1 img_2 img_2'
        'img_4 img_4 img_3 img_3'
        'img_6 img_6 img_3 img_3'
        'img_7 img_7 img_5 img_5'
        'img_7 img_7 img_8 img_8';
    }

    .img_1, .img_2, .img_4, .img_5, .img_6, .img_8 {
        min-height: 15rem;
    }

    .img_3, .img_7 {
        min-height: 31.5rem;
    }
}


/* Small size */
@media screen and (max-width: 576px) {
    .image-gallery {
        grid-template-areas: 
        'img_1 img_1 img_1 img_1'
        'img_2 img_2 img_2 img_2'
        'img_3 img_3 img_3 img_3'
        'img_4 img_4 img_4 img_4'
        'img_5 img_5 img_5 img_5'
        'img_6 img_6 img_6 img_6'
        'img_7 img_7 img_7 img_7'
        'img_8 img_8 img_8 img_8';
    }

    .img_1, .img_2, .img_3, .img_4, .img_5, .img_6, .img_7, .img_8 {
        min-height: 12rem;
    }
}